{% extends 'dlmaster.html' %}
{% block content %}
{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Customers</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>49</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Car variant</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>3</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">3</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Cars</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>15
                        </span></h2>
                    <p class="m-b-0">Completed Payment<span class="f-right"></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Drivers</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>15</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">105</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Bookings</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>150</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">105</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">New Bookings</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>150</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">105</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Maintance</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>150</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">105</span></p>
                </div>
            </div>
        </div>


	</div>
</div>
{% endblock %}