body{
    margin-top:20px;
    background:#FAFAFA;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#137ffc,#082e5a);
}

.bg-c-green {
    background: linear-gradient(45deg,#0ce4b8,#0b6b58);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#ffa21f,#86540e);
}

.bg-c-pink {
    background: linear-gradient(45deg,#fa1c41,#5f0a18);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}