{% extends 'master.html' %}
{% block content %}
{% load static %}

<div class="hdname pt-lg-5" style="height: 130px">
 <h3 style="text-align: center; ;">Automatic Cars</h3></div>



<div class="row p-lg-5">
    <div class="col-lg-3  ">
        <div class="card shadow " style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/Acar5.jpeg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Maruti suzuki Swift</h5>
           </div>
           <li class="list-group-item">Petrol</li>
           <!-- <li class="list-group-item">Manual</li> -->
           <li class="list-group-item">Hatchback</li>
           <li class="list-group-item">5 seater</li>
            <!-- <ul class="list-group list-group-flush" style="color: red;">
              <li class="list-group-item">10DAYS - 1000/perday</li>
              <li class="list-group-item">20DAYS - 850/perday</li>
              <li class="list-group-item">30DAYS - 700/perday</li>
            </ul> -->
            <div class="card-body">
              <a href="bkcar" class="card-link btn btn-primary"  type="submit">BOOK NOW</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

    </div>
    <div class="col-lg-3">
        <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/Acar2.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Maruti wagnor r</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
            <li class="list-group-item">Petrol</li>
            <!-- <li class="list-group-item">Manual</li> -->
            <li class="list-group-item">Hatchback</li>
            <li class="list-group-item">5 seater</li>
            <!-- <ul class="list-group list-group-flush" style="color: red;">
              <li class="list-group-item">10DAYS - 1000/perday</li>
              <li class="list-group-item">20DAYS - 850/perday</li>
              <li class="list-group-item">30DAYS - 700/perday</li>
            </ul> -->
            <div class="card-body">
              <a href="bkcar" class="card-link btn btn-primary"  type="submit">BOOK NOW</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

    </div>
    <div class="col-lg-3">
        <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/Acar3.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hyundai i20</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
            <li class="list-group-item">Petrol</li>
           <!-- <li class="list-group-item">Manual</li> -->
           <li class="list-group-item">Hatchback</li>
           <li class="list-group-item">5 seater</li>
            <!-- <ul class="list-group list-group-flush" style="color: red;">
              <li class="list-group-item">10DAYS - 1000/perday</li>
              <li class="list-group-item">20DAYS - 850/perday</li>
              <li class="list-group-item">30DAYS - 700/perday</li>
            </ul> -->
            <div class="card-body">
              <a href="bkcar" class="card-link btn btn-primary"  type="submit">BOOK NOW</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

    </div>


    <div class="col-lg-3">
      <div class="card shadow" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'images/Acar3.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hyundai i20</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
          <li class="list-group-item">Diesel</li>
           <!-- <li class="list-group-item"></li> -->
           <li class="list-group-item">Hatchback</li>
           <li class="list-group-item">5 seater</li>
          <!-- <ul class="list-group list-group-flush" style="color: red;">
            <li class="list-group-item">10DAYS - 1000/perday</li>
            <li class="list-group-item">20DAYS - 850/perday</li>
            <li class="list-group-item">30DAYS - 700/perday</li>
          </ul> -->
          <div class="card-body">
            <a href="bkcar" class="card-link  btn btn-primary"  type="submit">BOOK NOW</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>

  </div>



</div>


{% endblock %}