{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h2 class="mx-auto">Car Booking</h2>
    <form class="p-3">
        <div class="form-row ">
            <div class="col">
                <label for="">First Name</label>
                <input type="text" class="form-control" placeholder="First name">
            </div><br>
            <div class="col">
                <label for="">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name">
            </div><br>
        </div>
        <div>
            <label for="">mobile no.</label>
            <input type="number" placeholder="mobile no.">
        </div><br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="email id">
            </div><br>

        </div>
        <div>
            <h5 style="color: darkblue;">Pick up</h5>
            <input type="date"><input type="time" >
        </div>
        <div>
            <h5 style="color: darkblue;">Drop off</h5>
            <input type="date"><input type="time" >
        </div><br><br>
        <div class="form-group">
            <label for="inputAddress">Pick up Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Drop Out Address</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="p-lg-5">
        <a href="" class="btn btn-primary" style="float: right;">Payment</a></div>
    </form>
</div>
        {% endblock %}