{% extends 'master.html' %}
{% block content %}
{% load static %}
<div class="div1 my-auto">
    <div class="divm text-center">
        <h5>e-Rent</h5>
        <h1>WEDDING CARS</h1>
        
    </div>
<div class="row p-lg-5">
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/wdcar1.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">AUDI A6</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <!-- <ul class="list-group list-group-flush" style="color: red;">
              <li class="list-group-item">10DAYS - 1000/perday</li>
              <li class="list-group-item">20DAYS - 850/perday</li>
              <li class="list-group-item">30DAYS - 700/perday</li>
            </ul> -->
            <div class="card-body">
              <a href="bookreg" class="card-link"  type="submit">BOOK NOW</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

    </div>
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/wdcar2.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">JAGUAR</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <!-- <ul class="list-group list-group-flush" style="color: red;">
              <li class="list-group-item">10DAYS - 1000/perday</li>
              <li class="list-group-item">20DAYS - 850/perday</li>
              <li class="list-group-item">30DAYS - 700/perday</li>
            </ul> -->
            <div class="card-body">
              <a href="bookreg" class="card-link" data-toggle="" data-target="" type="submit">BOOK NOW</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

    </div>
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/rcar.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">BMW R</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <!-- <ul class="list-group list-group-flush" style="color: red;">
              <li class="list-group-item">10DAYS - 1000/perday</li>
              <li class="list-group-item">20DAYS - 850/perday</li>
              <li class="list-group-item">30DAYS - 700/perday</li>
            </ul> -->
            <div class="card-body">
              <a href="bookreg" class="card-link"  type="submit">BOOK NOW</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>

    </div>
    
</div>
<!-- 
<div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
        <center>
          <h3 style="color: darkblue;">BOOK YOUR CAR NOW</h3>
          <input type="text" placeholder="enter name"><br>
          <input type="number" placeholder="enter number"><br>
          <input type="text" placeholder="enter email"><br>
           <h4 style="color: darkblue;">Search Your Vehicle</h4> 
           <h5 style="color: darkblue;">Pick up</h5>
          <input type="date"><input type="time">
          <h5 style="color: darkblue;">Drop off</h5>
          <input type="date"><input type="time"><br><br>
          <input type="text" placeholder="pickup address"><br>
          <input type="text" placeholder="drop off address"><br>
          <button class="btn2">Book now</button>
     
          </form>
        </div>
      </div>
    </div>
  </div> --> 
  
  

{% endblock %}